.booklist {
    color: black;
}

.header {
    color: #FFF2BD;
    border-radius: 5em;
    border-style: dotted;
    border-color: black;
    background-color: #A7D165;
}

h1 {
    font-family: 'Caveat', cursive;
    font-size: 55px;
    text-align: center;
}
button {
    background-color: #FFF2BD;
    font-family: 'Caveat', cursive;
    font-size: 19px;
}
ul {
    background-color: #A7D165;
    width: 190px;
}
li {
    color: black;
    font-style: oblique;
    font-weight: bold;
}